<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FH | About</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="icon" href="/icons/icon.svg">

</head>

<header class="header-main" id="top">
  <nav><a href=/ class='header-nav hoverhead'>Home</a>
    <a href=/pdfs/HangenCVNov2022.pdf class='header-nav hoverhead'>CV</a>
    <a href=/research class='header-nav hoverhead'>Research</a>
    <a href=/publications class='header-nav hoverhead'>Publications</a>
    <a href=/teaching class='header-nav hoverhead'>Teaching</a>
    <a href="https://github.com/forrest-h/" class='header-nav hoverhead'>Code</a>
    <a href=/about class='header-nav hoverhead'>About</a>
    <a href="https://linktr.ee/forresthangen" class='header-nav hoverhead'>Contact</a>



  </nav>
  <div class="nav-right">

  </div>
</header>

<body class="main-bg section-pages">
  <br><br><br>
  <div>
    <h3>About</h3>
    <br><br>
  </div>
  <br><br><br><br><br><br>
  <a href="#top">
  <div class="scroll-up">
  </div>
  </a>
  <br><br><br><br><br><br>

</body>
