<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Forrest Hangen</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="icon" href="/icons/icon.svg">
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />

</head>




<body class="main-bg">
  <div class="mobile-display">
     <header class="centered-links">
        <h1 class="m-h1">Forrest Hangen</h1>
                <p></p>

    </header>



    <section class="mob-profile-pic">
        <img src="/img/FHangen-4972c.jpg" alt="Forrest Hangen's Picture">
    </section>
        <p></p>



    <section class="description">
        <p class="hero-p-m">
        I'm a <a href="https://cssh.northeastern.edu/student/forrest-hangen/">PhD Candidate</a> in Public Policy - focusing on Urban and Regional Policy at <a href="https://news.northeastern.edu/2022/08/17/discrimination-on-craigslist/">Northeastern University</a> in the <a href="https://cssh.northeastern.edu/policyschool/">School of Public Policy and Urban Affairs</a>. I'm also affiliated with the <a href="https://cssh.northeastern.edu/bari/">Boston Area Research Initiative</a>.</p>
        <p class="hero-p-m">I study inequities in housing using <a href="https://dataverse.harvard.edu/dataverse/BARI">'big' data</a> and computational social science methodologies at multiple scales of geography. My <a href="https://osf.io/preprints/socarxiv/anvke">most recent work</a> focuses on uncovering ownership obscurity in order to study landlords and their strategies of social and physical property management. I use <a href="https://github.com/forrest-h/linking-landlords">fuzzy-matching</a> to connect tax assessment and corporation records to accurately link landlords and investors to their portfolios of properties. <p>
        <p class="hero-p-m">hangen.f<span style="display: none;">IGNORE THIS YA BOT</span>@northeastern.edu</p>
    </section>
    <div class="centered-links">
    <a href="/pdfs/HangenCV.pdf" download="ForrestHangenCV.pdf">
        <button   class="pushable">
          <span  class="shadow"></span>
          <span class="edge"></span>
          <span  class="front">
            <h3 class="download-cv-home">Download CV</h3>
          </span>
        </button>
        </a>
        <p></p>
        <p></p>
        <a href=/research class='header-nav-m hoverhead'>Research</a>
        <a href=/teaching class='header-nav-m hoverhead'>Teaching</a>
        <a href="https://github.com/forrest-h/" class='header-nav-m hoverhead'>Code</a>
        <a href="https://linktr.ee/forresthangen" class='header-nav-m hoverhead'>Contact</a>
        <p></p>
        <p></p>
        <p></p>
        <p class="centered-mobile">For a better experience, please visit this site on a computer.</p>
        <p></p>
        <p>Designed by Forrest Hangen</p>
        <p>Updated: {{ now.Format "2006-02-01"}}</p>
        <p></p>
        <p></p>


    </div>


  </div>

  <div class="Scene desktop-display">

    <header class="header-main" id="top">
      <nav><a href=/ class='header-nav hoverhead'>Home</a>
        <a href=/pdfs/HangenCV.pdf class='header-nav hoverhead'>CV</a>
        <a href=/research class='header-nav hoverhead'>Research</a>
        <a href=/publications class='header-nav hoverhead'>Publications</a>
        <a href=/teaching class='header-nav hoverhead'>Teaching</a>
        <a href="https://github.com/forrest-h/" class='header-nav hoverhead'>Code</a>
        <a href="https://linktr.ee/forresthangen" class='header-nav hoverhead'>Contact</a>



      </nav>
      <div class="nav-right">

      </div>
    </header>

    <div class="hero">

      <div class="hero-text">
        <h1>Forrest Hangen</h1>
        <h2>PhD Candidate | Public Policy</h2>

        <p class="hero-p">
        I'm a <a href="https://cssh.northeastern.edu/student/forrest-hangen/">PhD Candidate</a> in Public Policy - focusing on Urban and Regional Policy at <a href="https://news.northeastern.edu/2022/08/17/discrimination-on-craigslist/">Northeastern University</a> in the <a href="https://cssh.northeastern.edu/policyschool/">School of Public Policy and Urban Affairs</a>. I'm also affiliated with the <a href="https://cssh.northeastern.edu/bari/">Boston Area Research Initiative</a>.</p>
        <p class="hero-p">I study inequities in housing using <a href="https://dataverse.harvard.edu/dataverse/BARI">'big' data</a> and computational social science methodologies at multiple scales of geography. My <a href="https://osf.io/preprints/socarxiv/anvke">most recent work</a> focuses on uncovering ownership obscurity in order to study landlords and their strategies of social and physical property management. I use <a href="https://github.com/forrest-h/linking-landlords">fuzzy-matching</a> to connect tax assessment and corporation records to accurately link landlords and investors to their portfolios of properties. <p>
        <p>hangen.f<span style="display: none;">IGNORE THIS YA BOT</span>@northeastern.edu</p>
        <a href="/pdfs/HangenCV.pdf" download="ForrestHangenCV.pdf">
        <button   class="pushable">
          <span  class="shadow"></span>
          <span class="edge"></span>
          <span  class="front">
            <h3 class="download-cv-home">Download CV</h3>
          </span>
        </button>
        </a>

      </div>
      <div class="hero-image">
        <img src="/img/FHangen-4972c.jpg" alt="portrait of Forrest Hangen, a man with brown hair in a short side-part, a mustache and a blue no-collar button-up shirt" class="hero-img">

      </div>
      <br>



    </div>

    <br><br><br><br><br>
    <a href="#city-map">
    <div class="scroll">
    </div>
    </a>
    <div role="alert" id='alert-if-safari'></div>
    <script>

        var is_safari = /^((?!chrome|android).)*safari/i.test(navigator.userAgent);
        if (is_safari) {
            const alert_div = document.getElementById('alert-if-safari')
            alert_div.className = 'alert alert-danger'
            alert_div.innerHTML = "Hi there!\n It looks like you are viewing this website in Safari. Below this there should be a 3D graphic of a city that I developed. Unfortunately this doesn't work in Safari -- the dangers of writing your own website from scratch :/ So please visit this website using Firefox or Chrome. Thanks! -Forrest"
        }

    </script>



    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <div class="content" id="city-map">
      <!-- HTML MODEL FOR BOX-->
      <div class="box" id="box-research" onclick="location.href='/research';">
        <div class="box__face" id="north">
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
        </div>
        <div class="box__face" id="south">
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
        </div>
        <div class="box__face" id="east">
          <div class="window left-window"></div>
          <div class="window left-window"></div>
          <div class="window left-window"></div>
          <div class="window left-window"></div>
          <div class="window left-window"></div>
          <div class="window left-window"></div>
          <div class="window left-window"></div>
          <div class="window left-window"></div>
          <div class="window left-window"></div>
          <div class="window left-window"></div>
          <div class="window left-window"></div>
          <div class="window left-window"></div>
        </div>
        <div class="box__face" id="west">
          <div class="window rightwindow"></div>
          <div class="window rightwindow"></div>
          <div class="window rightwindow"></div>
          <div class="window rightwindow"></div>
          <div class="window rightwindow"></div>
          <div class="window rightwindow"></div>
          <div class="window rightwindow"></div>
          <div class="window rightwindow"></div>
          <div class="window rightwindow"></div>
          <div class="window rightwindow"></div>
          <div class="window rightwindow"></div>
          <div class="window rightwindow"></div>
        </div>
        <div class="box__face" id="roof-link">
          <h1 class="building-text">Research</h1>
        </div>
      </div>
      <div class="box" id="box-cv" onclick="location.href='/pdfs/HangenCV.pdf';">
        <div class="box__face" id="north">
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>

        </div>
        <div class="box__face" id="south">
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>


        </div>
        <div class="box__face" id="east">
          <div class="window left-window"></div>
          <div class="window left-window"></div>
          <div class="window left-window"></div>
          <div class="window left-window"></div>
          <div class="window left-window"></div>
          <div class="window left-window"></div>
          <div class="window left-window"></div>
          <div class="window left-window"></div>
          <div class="window left-window"></div>
          <div class="window left-window"></div>
          <div class="window left-window"></div>
          <div class="window left-window"></div>
        </div>
        <div class="box__face" id="west">
          <div class="window rightwindow"></div>
          <div class="window rightwindow"></div>
          <div class="window rightwindow"></div>
          <div class="window rightwindow"></div>
          <div class="window rightwindow"></div>
          <div class="window rightwindow"></div>
          <div class="window rightwindow"></div>
          <div class="window rightwindow"></div>
          <div class="window rightwindow"></div>

        </div>
        <div class="box__face" id="roof-link">
          <h1 class="building-text">CV</h1>
        </div>
      </div>
      <div class="box" id="box-code" onclick="location.href='https://github.com/forrest-h/';">
        <div class="box__face" id="north">
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
        </div>
        <div class="box__face" id="south">
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
        </div>
        <div class="box__face" id="east">
          <div class="window left-window"></div>
          <div class="window left-window"></div>
          <div class="window left-window"></div>
          <div class="window left-window"></div>
          <div class="window left-window"></div>
          <div class="window left-window"></div>

        </div>
        <div class="box__face" id="west">
          <div class="window rightwindow"></div>
          <div class="window rightwindow"></div>
          <div class="window rightwindow"></div>
          <div class="window rightwindow"></div>
          <div class="window rightwindow"></div>
          <div class="window rightwindow"></div>
          <div class="window rightwindow"></div>
          <div class="window rightwindow"></div>


        </div>
        <div class="box__face" id="roof-link">
          <h1 class="building-text">Code</h1>
        </div>
      </div>
      <div class="box" id="box-social" onclick="location.href='https://linktr.ee/forresthangen';">
        <div class="box__face" id="north">
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
        </div>
        <div class="box__face" id="south">
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
        </div>
        <div class="box__face" id="east">
          <div class="window left-window"></div>
          <div class="window left-window"></div>
          <div class="window left-window"></div>
          <div class="window left-window"></div>
          <div class="window left-window"></div>
          <div class="window left-window"></div>

        </div>
        <div class="box__face" id="west">
          <div class="window rightwindow"></div>
          <div class="window rightwindow"></div>
          <div class="window rightwindow"></div>
          <div class="window rightwindow"></div>
          <div class="window rightwindow"></div>
          <div class="window rightwindow"></div>
          <div class="window rightwindow"></div>
          <div class="window rightwindow"></div>
        </div>
        <div class="box__face" id="roof-link">
          <h1 class="building-text">Social Media</h1>
        </div>
      </div>
      <div class="box" id="box-teaching" onclick="location.href='/teaching';">
        <div class="box__face" id="north">
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
        </div>
        <div class="box__face" id="south">
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
        </div>
        <div class="box__face" id="east">
          <div class="window left-window"></div>
          <div class="window left-window"></div>
          <div class="window left-window"></div>
          <div class="window left-window"></div>
          <div class="window left-window"></div>
          <div class="window left-window"></div>
          <div class="window left-window"></div>
          <div class="window left-window"></div>
          <div class="window left-window"></div>
          <div class="window left-window"></div>
          <div class="window left-window"></div>
          <div class="window left-window"></div>
        </div>
        <div class="box__face" id="west">
          <div class="window rightwindow"></div>
          <div class="window rightwindow"></div>
          <div class="window rightwindow"></div>
          <div class="window rightwindow"></div>
          <div class="window rightwindow"></div>
          <div class="window rightwindow"></div>
          <div class="window rightwindow"></div>
          <div class="window rightwindow"></div>
          <div class="window rightwindow"></div>
          <div class="window rightwindow"></div>
          <div class="window rightwindow"></div>
          <div class="window rightwindow"></div>
        </div>
        <div class="box__face" id="roof-link">
          <h1 class="building-text">Teaching</h1>
        </div>
      </div>
      <div class="box" id="box-about" >
        <div class="box__face" id="north">
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>

        </div>
        <div class="box__face" id="south">

          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
        </div>
        <div class="box__face" id="east">
          <div class="window left-window"></div>
          <div class="window left-window"></div>
          <div class="window left-window"></div>
          <div class="window left-window"></div>
          <div class="window left-window"></div>
          <div class="window left-window"></div>
          <div class="window left-window"></div>
          <div class="window left-window"></div>
          <div class="window left-window"></div>
          <div class="window left-window"></div>
          <div class="window left-window"></div>
          <div class="window left-window"></div>
          <div class="window left-window"></div>
          <div class="window left-window"></div>
          <div class="window left-window"></div>
          <div class="window left-window"></div>
          <div class="window left-window"></div>
          <div class="window left-window"></div>
          <div class="window left-window"></div>
          <div class="window left-window"></div>



        </div>
        <div class="box__face" id="west">
          <div class="window rightwindow"></div>
          <div class="window rightwindow"></div>
          <div class="window rightwindow"></div>
          <div class="window rightwindow"></div>
          <div class="window rightwindow"></div>
          <div class="window rightwindow"></div>
          <div class="window rightwindow"></div>
          <div class="window rightwindow"></div>
          <div class="window rightwindow"></div>
          <div class="window rightwindow"></div>
          <div class="window rightwindow"></div>
          <div class="window rightwindow"></div>
        </div>
        <div class="box__face" id="roof">
          <h1 class="building-text"></h1>
        </div>
      </div>
      <div class="box" id="box-extra" onclick="location.href='/research';">
        <div class="box__face" id="north">
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
        </div>
        <div class="box__face" id="south">
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
        </div>
        <div class="box__face" id="east">
          <div class="window left-window"></div>
          <div class="window left-window"></div>
          <div class="window left-window"></div>
          <div class="window left-window"></div>
          <div class="window left-window"></div>
          <div class="window left-window"></div>
          <div class="window left-window"></div>
          <div class="window left-window"></div>

        </div>
        <div class="box__face" id="west">
          <div class="window rightwindow"></div>
          <div class="window rightwindow"></div>
          <div class="window rightwindow"></div>
          <div class="window rightwindow"></div>
          <div class="window rightwindow"></div>
          <div class="window rightwindow"></div>

        </div>
        <div class="box__face" id="roof-link">
          <h1 class="building-text">Current Projects</h1>
        </div>
      </div>
      <div class="box" id="box-publications" onclick="location.href='/publications';">
        <div class="box__face" id="north">
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
        </div>
        <div class="box__face" id="south">
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
          <div class="window bottom-window"></div>
        </div>
        <div class="box__face" id="east">
          <div class="window left-window"></div>
          <div class="window left-window"></div>
          <div class="window left-window"></div>
          <div class="window left-window"></div>
          <div class="window left-window"></div>
          <div class="window left-window"></div>
          <div class="window left-window"></div>
          <div class="window left-window"></div>
          <div class="window left-window"></div>
          <div class="window left-window"></div>
          <div class="window left-window"></div>
          <div class="window left-window"></div>
        </div>
        <div class="box__face" id="west">
          <div class="window rightwindow"></div>
          <div class="window rightwindow"></div>
          <div class="window rightwindow"></div>
          <div class="window rightwindow"></div>
          <div class="window rightwindow"></div>
          <div class="window rightwindow"></div>
          <div class="window rightwindow"></div>
          <div class="window rightwindow"></div>
          <div class="window rightwindow"></div>
          <div class="window rightwindow"></div>
          <div class="window rightwindow"></div>
          <div class="window rightwindow"></div>
        </div>
        <div class="box__face" id="roof-link">
          <h1 class="building-text" id="pub-bt">Publications</h1>
        </div>
      </div>
      <div class="box box-rowhouse" id="rowhouse-1">
        <div class="box__face" id="north">
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>


        </div>
        <div class="box__face" id="south">
          <div class="window bottom-window-row"></div>
          <div class="window bottom-window-row"></div>
          <div class="window bottom-window-row"></div>
          <div class="window bottom-window-row"></div>
        </div>
        <div class="box__face" id="east">
          <div class="window left-window-row"></div>
          <div class="window left-window-row"></div>
          <div class="window left-window-row"></div>
          <div class="window left-window-row"></div>
        </div>
        <div class="box__face" id="west">
          <div class="window right-window-row"></div>
          <div class="window right-window-row"></div>
          <div class="window right-window-row"></div>
          <div class="window right-window-row"></div>
          <div class="window right-window-row"></div>
          <div class="window right-window-row"></div>
        </div>
        <div class="box__face" id="roof">
        </div>
      </div>
      <div class="box box-rowhouse" id="rowhouse-2">
        <div class="box__face" id="north">
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>


        </div>
        <div class="box__face" id="south">
          <div class="window bottom-window-row"></div>
          <div class="window bottom-window-row"></div>
          <div class="window bottom-window-row"></div>
          <div class="window bottom-window-row"></div>
        </div>
        <div class="box__face" id="east">
          <div class="window left-window-row"></div>
          <div class="window left-window-row"></div>
          <div class="window left-window-row"></div>
          <div class="window left-window-row"></div>
        </div>
        <div class="box__face" id="west">
          <div class="window right-window-row"></div>
          <div class="window right-window-row"></div>
          <div class="window right-window-row"></div>
          <div class="window right-window-row"></div>
          <div class="window right-window-row"></div>
          <div class="window right-window-row"></div>
        </div>
        <div class="box__face" id="roof">
        </div>
      </div>
      <div class="box box-rowhouse" id="rowhouse-3">
        <div class="box__face" id="north">
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>


        </div>
        <div class="box__face" id="south">
          <div class="window bottom-window-row"></div>
          <div class="window bottom-window-row"></div>
          <div class="window bottom-window-row"></div>
          <div class="window bottom-window-row"></div>
        </div>
        <div class="box__face" id="east">
          <div class="window left-window-row"></div>
          <div class="window left-window-row"></div>
          <div class="window left-window-row"></div>
          <div class="window left-window-row"></div>
        </div>
        <div class="box__face" id="west">
          <div class="window right-window-row"></div>
          <div class="window right-window-row"></div>
          <div class="window right-window-row"></div>
          <div class="window right-window-row"></div>
          <div class="window right-window-row"></div>
          <div class="window right-window-row"></div>
        </div>
        <div class="box__face" id="roof">
        </div>
      </div>
      <div class="box box-rowhouse" id="rowhouse-4">
        <div class="box__face" id="north">
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>


        </div>
        <div class="box__face" id="south">
          <div class="window bottom-window-row"></div>
          <div class="window bottom-window-row"></div>
          <div class="window bottom-window-row"></div>
          <div class="window bottom-window-row"></div>
        </div>
        <div class="box__face" id="east">
          <div class="window left-window-row"></div>
          <div class="window left-window-row"></div>
          <div class="window left-window-row"></div>
          <div class="window left-window-row"></div>
        </div>
        <div class="box__face" id="west">
          <div class="window right-window-row"></div>
          <div class="window right-window-row"></div>
          <div class="window right-window-row"></div>
          <div class="window right-window-row"></div>
          <div class="window right-window-row"></div>
          <div class="window right-window-row"></div>
        </div>
        <div class="box__face" id="roof">
        </div>
      </div>
      <div class="box box-rowhouse" id="rowhouse-5">
        <div class="box__face" id="north">
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>


        </div>
        <div class="box__face" id="south">
          <div class="window bottom-window-row"></div>
          <div class="window bottom-window-row"></div>
          <div class="window bottom-window-row"></div>
          <div class="window bottom-window-row"></div>
        </div>
        <div class="box__face" id="east">
          <div class="window left-window-row"></div>
          <div class="window left-window-row"></div>
          <div class="window left-window-row"></div>
          <div class="window left-window-row"></div>
        </div>
        <div class="box__face" id="west">
          <div class="window right-window-row"></div>
          <div class="window right-window-row"></div>
          <div class="window right-window-row"></div>
          <div class="window right-window-row"></div>
          <div class="window right-window-row"></div>
          <div class="window right-window-row"></div>
        </div>
        <div class="box__face" id="roof">
        </div>
      </div>
      <div class="box box-rowhouse" id="rowhouse-6">
        <div class="box__face" id="north">
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>


        </div>
        <div class="box__face" id="south">
          <div class="window bottom-window-row"></div>
          <div class="window bottom-window-row"></div>
          <div class="window bottom-window-row"></div>
          <div class="window bottom-window-row"></div>
        </div>
        <div class="box__face" id="east">
          <div class="window left-window-row"></div>
          <div class="window left-window-row"></div>
          <div class="window left-window-row"></div>
          <div class="window left-window-row"></div>
        </div>
        <div class="box__face" id="west">
          <div class="window right-window-row"></div>
          <div class="window right-window-row"></div>
          <div class="window right-window-row"></div>
          <div class="window right-window-row"></div>
          <div class="window right-window-row"></div>
          <div class="window right-window-row"></div>
        </div>
        <div class="box__face" id="roof">
        </div>
      </div>
      <div class="box box-rowhouse" id="rowhouse-7">
        <div class="box__face" id="north">
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>


        </div>
        <div class="box__face" id="south">
          <div class="window bottom-window-row"></div>
          <div class="window bottom-window-row"></div>
          <div class="window bottom-window-row"></div>
          <div class="window bottom-window-row"></div>
        </div>
        <div class="box__face" id="east">
          <div class="window left-window-row"></div>
          <div class="window left-window-row"></div>
          <div class="window left-window-row"></div>
          <div class="window left-window-row"></div>
          <div class="window left-window-row"></div>
          <div class="window left-window-row"></div>
        </div>
        <div class="box__face" id="west">
          <div class="window right-window-row"></div>
          <div class="window right-window-row"></div>
          <div class="window right-window-row"></div>
          <div class="window right-window-row"></div>
        </div>
        <div class="box__face" id="roof">
        </div>
      </div>
      <div class="box box-rowhouse" id="rowhouse-8">
        <div class="box__face" id="north">
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>


        </div>
        <div class="box__face" id="south">
          <div class="window bottom-window-row"></div>
          <div class="window bottom-window-row"></div>
          <div class="window bottom-window-row"></div>
          <div class="window bottom-window-row"></div>
        </div>
        <div class="box__face" id="east">
          <div class="window left-window-row"></div>
          <div class="window left-window-row"></div>
          <div class="window left-window-row"></div>
          <div class="window left-window-row"></div>
          <div class="window left-window-row"></div>
          <div class="window left-window-row"></div>
        </div>
        <div class="box__face" id="west">
          <div class="window right-window-row"></div>
          <div class="window right-window-row"></div>
          <div class="window right-window-row"></div>
          <div class="window right-window-row"></div>
        </div>
        <div class="box__face" id="roof">
        </div>
      </div>
      <div class="box box-rowhouse" id="rowhouse-9">
        <div class="box__face" id="north">
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>


        </div>
        <div class="box__face" id="south">
          <div class="window bottom-window-row"></div>
          <div class="window bottom-window-row"></div>
          <div class="window bottom-window-row"></div>
          <div class="window bottom-window-row"></div>
        </div>
        <div class="box__face" id="east">
          <div class="window left-window-row"></div>
          <div class="window left-window-row"></div>
          <div class="window left-window-row"></div>
          <div class="window left-window-row"></div>
          <div class="window left-window-row"></div>
          <div class="window left-window-row"></div>
        </div>
        <div class="box__face" id="west">
          <div class="window right-window-row"></div>
          <div class="window right-window-row"></div>
          <div class="window right-window-row"></div>
          <div class="window right-window-row"></div>
        </div>
        <div class="box__face" id="roof">
        </div>
      </div>
      <div class="box box-rowhouse" id="rowhouse-10">
        <div class="box__face" id="north">
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>


        </div>
        <div class="box__face" id="south">
          <div class="window bottom-window-row"></div>
          <div class="window bottom-window-row"></div>
          <div class="window bottom-window-row"></div>
          <div class="window bottom-window-row"></div>
        </div>
        <div class="box__face" id="east">
          <div class="window left-window-row"></div>
          <div class="window left-window-row"></div>
          <div class="window left-window-row"></div>
          <div class="window left-window-row"></div>
          <div class="window left-window-row"></div>
          <div class="window left-window-row"></div>
        </div>
        <div class="box__face" id="west">
          <div class="window right-window-row"></div>
          <div class="window right-window-row"></div>
          <div class="window right-window-row"></div>
          <div class="window right-window-row"></div>
          <div class="window right-window-row"></div>
          <div class="window right-window-row"></div>
        </div>
        <div class="box__face" id="roof">
        </div>
      </div>
      <div class="box box-rowhouse" id="rowhouse-11">
        <div class="box__face" id="north">
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>


        </div>
        <div class="box__face" id="south">
          <div class="window bottom-window-row"></div>
          <div class="window bottom-window-row"></div>
          <div class="window bottom-window-row"></div>
          <div class="window bottom-window-row"></div>
        </div>
        <div class="box__face" id="east">
          <div class="window left-window-row"></div>
          <div class="window left-window-row"></div>
          <div class="window left-window-row"></div>
          <div class="window left-window-row"></div>
          <div class="window left-window-row"></div>
          <div class="window left-window-row"></div>
        </div>
        <div class="box__face" id="west">
          <div class="window right-window-row"></div>
          <div class="window right-window-row"></div>
          <div class="window right-window-row"></div>
          <div class="window right-window-row"></div>
        </div>
        <div class="box__face" id="roof">
        </div>
      </div>
      <div class="box box-rowhouse" id="rowhouse-12">
        <div class="box__face" id="north">
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>
          <div class="window"></div>


        </div>
        <div class="box__face" id="south">
          <div class="window bottom-window-row"></div>
          <div class="window bottom-window-row"></div>
          <div class="window bottom-window-row"></div>
          <div class="window bottom-window-row"></div>
        </div>
        <div class="box__face" id="east">
          <div class="window left-window-row"></div>
          <div class="window left-window-row"></div>
          <div class="window left-window-row"></div>
          <div class="window left-window-row"></div>
          <div class="window left-window-row"></div>
          <div class="window left-window-row"></div>
        </div>
        <div class="box__face" id="west">
          <div class="window right-window-row"></div>
          <div class="window right-window-row"></div>
          <div class="window right-window-row"></div>
          <div class="window right-window-row"></div>
        </div>
        <div class="box__face" id="roof">
        </div>
      </div>
      <div class="box insp">
        <a href="https://comforttown.com.ua/" class="insp">Inspired by Комфорт Таун in Kyiv, Ukraine</a>
      </div>
      <br>
    </div>
    <br><br><br><br><br>
    <div>
      <a href="/publications" class="publication">
      <h3>Recent Publications</h3></a>
      {{ range (where .Site.Pages "Section" "publications") }}
      {{ range (first 3 (.Pages.ByParam "highlight")) }}
      <div class="hero-pub">

        <div class="hero-text-pub">
          <a class="pub_title"  href='{{.Params.Doi}}'>{{.Title}}</a>

          {{$longabs := string .Params.Abstract}}
          <br><br>

          <a class="hero-pub-textp" href="{{.Params.Doi}}">{{truncate 300 $longabs}}</a>
          <br><br>
          <a href="{{.Params.Doi}}" class="publinks">DOI</a>
          {{ if (not (isset .Params "code")) }}
          {{ else }}
          <a href="{{.Params.code}}" class="publinks">Code</a>
          {{ end }}
          {{ if (not (isset .Params "pdf")) }}
          {{ else }}
          <a href="{{.Params.pdf}}" class="publinks">PDF</a>
          {{ end }}


        </div>


        <div class="hero-image-pub">
          {{ $image := .Resources.GetMatch "thumbnail.jpg" }}

          <a href="{{.Params.Doi}}" class="publinks hero-img-pub">
            <img src="{{ $image.RelPermalink }}" href="{{.Params.Doi}}" class="hero-img-pub">
          </a>


        </div>
      </div>

      {{end}}
      {{ end }}
    </div>
    <h1></h1>

   <br><br><br><br>
   <br><br><br><br><br><br>
   <a href="#top">
   <div class="scroll-up">
   </div>
   </a>
   <br><br><br><br><br>
   <p>Designed by Forrest Hangen</p>
   <p>Updated: {{ now.Format "2006-02-01"}}</p>
<br>
  </div>


</body>



</html>
