<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FH | Research</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="icon" href="/icons/icon.svg">
  <script defer language="javascript" type="text/javascript"  src="{{ "/js/card.js" | urlize | relURL }}"></script>
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
</head>



<body class="main-bg section-pages">
  <header class="header-main" id="top">
    <nav><a href=/ class='header-nav hoverhead'>Home</a>
      <a href=/pdfs/HangenCV.pdf class='header-nav hoverhead'>CV</a>
      <a href=/research class='header-nav hoverhead'>Research</a>
      <a href=/publications class='header-nav hoverhead'>Publications</a>
      <a href=/teaching class='header-nav hoverhead'>Teaching</a>
      <a href="https://github.com/forrest-h/" class='header-nav hoverhead'>Code</a>
      <a href="https://linktr.ee/forresthangen" class='header-nav hoverhead'>Contact</a>



    </nav>
    <div class="nav-right">

    </div>
  </header>

  <br><br><br>
  <div id="top2">
    <h3>Research</h3>
  </div>
  <p class="res-click">Click on a topic to learn more.</p>
<br><br>


<div class="scenec--lin1 scenec--card">
  <div class="card_null">
    <div class="card__face card__face--nomove"></div>
  </div>
</div>
<div class="scenec--lin2 scenec--card">
  <div class="card_null">
    <div class="card__face card__face--nomove"></div>
  </div>
</div>
<div class="scenec--lin3 scenec--card">
  <div class="card_null">
    <div class="card__face card__face--nomove"></div>
  </div>
</div>

<div class="scenec--lin4 scenec--card">
  <div class="card_null">
    <div class="card__face card__face--nomove"></div>
  </div>
</div>

<div class="scenec--rin1 scenec--card">
  <div class="card_null">
    <div class="card__face card__face--nomove"></div>
  </div>
</div>
<div class="scenec--rin2 scenec--card">
  <div class="card_null">
    <div class="card__face card__face--nomove"></div>
  </div>
</div>
<div class="scenec--rin3 scenec--card">
  <div class="card_null">
    <div class="card__face card__face--nomove"></div>
  </div>
</div>

<div class="scenec--rin4 scenec--card">
  <div class="card_null">
    <div class="card__face card__face--nomove"></div>
  </div>
</div>

<div class="scenec--1l scenec--card">
  <div class="card">
    <div class="card__face card__face--front">
      <h3 class="h3-research">Landlord Strategies of Social and Physical Property Management</h3>
      <img src="/img/singlebuilding.jpg" alt="" class="hero-img-research-front">
    </div>
    <div class="card__face card__face--back">
      <div class="card-res-back-th">
        <h3 class="res-backh-s">Landlord Strategies of Social and Physical Property Management</h3>
      </div>
      <div class="card-img-back">

          <img src="/img/singlebuilding.jpg" class="img-res-back">
      </div>
      <div class="card-back-text">
        <p class="res-backp">I study inequities in the quality and accessibility of rental housing in the U.S., tracing back to the growing financialization of housing and the surge of limited liability companies (LLCs) as predominant property owners. These trends, driven by profit motives, often compromise the provision of safe and affordable housing. In <a href="https://osf.io/preprints/socarxiv/anvke">Linking Landlords to Uncover Ownership Obscurity</a> I introduced a computational method to connect ownership and corporate records, revealing the obscured consolidation in property ownership and accountability for evictions. In my working paper on landlords' property management strategies, I highlight how certain landlord characteristics, rooted in maximizing profits, can lead to deteriorated housing conditions and increased evictions, especially impacting lower-income regions.</p>

      </div>
      <div class="card-back-publications">

        <p class="res-backp">Work Published in:</p>
        <p class="res-backp"><a href="https://osf.io/preprints/socarxiv/anvke" class="res-backp-link">SocArXiv - Preprin (Under Review at Housing Studies)</a>
        <p class="res-backp">Working Paper coming soon</a>

        </p>

      </div>
    </div>
  </div>
</div>
<div class="scenec--r scenec--card">
  <div class="card_null">
    <div class="card__face card__face--invis"></div>
  </div>
</div>

<div class="scenec--1r scenec--card">
  <div class="card_null">
    <div class="card__face card__face--nomove"></div>
  </div>
</div>


<div class="scenec--2l scenec--card">
  <div class="card_null">
    <div class="card__face card__face--nomove"></div>
  </div>
</div>

<div class="scenec--r scenec--card">
  <div class="card_null">
    <div class="card__face card__face--invis"></div>
  </div>
</div>

<div class="scenec--2r scenec--card">
  <div class="card">
    <div class="card__face card__face--front">
      <h3 class="h3-research">Source of Income Discrimination</h3>
      <img src="/img/pinkbuild.jpg" alt="" class="hero-img-research-front">
    </div>
    <div class="card__face card__face--back">

          <div class="card-res-back-th">
            <h3 class="res-backh">Source of Income Discrimination</h3>
          </div>
          <div class="card-img-back">
              <img src="/img/pinkbuild.jpg" class="img-res-back">
          </div>
          <div class="card-back-text">
            <p class="res-backp">In a recent study published in Urban Affairs Review, I examine housing market inequities by analyzing over 1 million Craigslist rental listings. Through a novel text analysis methodology, I identified explicit source of income (SOI) discrimination (e.g., "No Section 8"), revealing a biased landscape even in areas with SOI antidiscrimination laws. My findings suggest landlords' discriminatory practices are influenced by both market competitiveness and racial biases, with a notable trend of excluding perceived non-White tenants from predominantly White areas.</p>

          </div>
          <div class="card-back-publications">

            <p class="res-backp">Work Published in:</p>
            <p class="res-backp"><a href="https://doi.org/10.1177/10780874221109591" class="res-backp-link">Urban Affairs Review</a>
            </p>

          </div>

    </div>
  </div>
</div>

<div class="scenec--3l scenec--card">
  <div class="card">
    <div class="card__face card__face--front">
      <h3 class="h3-research">Housing Affordability</h3>
      <img src="/img/houses.jpg" alt="" class="hero-img-research-front">
    </div>
    <div class="card__face card__face--back">
      <div class="card-res-back-th">
        <h3 class="res-backh">Housing Affordability</h3>
      </div>


      <div class="card-img-back">

          <img src="/img/houses.jpg" class="img-res-back">
      </div>
      <div class="card-back-text">
        <p class="res-backp">In this research, I critically examine the conventional methods used to identify households burdened by unaffordable housing, particularly the widely accepted ratio of income to rent with a 30% threshold. Using data from the American Housing Survey, my working paper reveals that traditional ratio measures fall short in distinguishing households facing severe consequences of unaffordable housing, such as evictions or utility shutoffs. Collaborating with Yung Chun from Washington University in St. Louis, we further explore housing affordability changes during the COVID-19 pandemic. Our findings not only corroborate my earlier observations but also highlight pronounced racial disparities in those grappling with housing unaffordability during this crisis.</p>

      </div>
      <div class="card-back-publications">

        <p class="res-backp">Work coming soon.</p>

      </div>
    </div>
  </div>
</div>
<div class="scenec--r scenec--card">
  <div class="card_null">
    <div class="card__face card__face--invis"></div>
  </div>
</div>

<div class="scenec--3r scenec--card">
  <div class="card_null">
    <div class="card__face card__face--nomove"></div>
  </div>
</div>

<div class="scenec--4l scenec--card">
  <div class="card_null">
    <div class="card__face card__face--nomove"></div>
  </div>
</div>
<div class="scenec--r scenec--card">
  <div class="card_null">
    <div class="card__face card__face--invis"></div>
  </div>
</div>


<div class="scenec--4r scenec--card">
  <div class="card">
    <div class="card__face card__face--front">
      <h3 class="h3-research">Problem Properties</h3>
      <img src="/img/probprop.jpg" alt="" class="hero-img-research-front">
    </div>
    <div class="card__face card__face--back">
      <div class="card-res-back-th">
        <h3 class="res-backh">Problem Properties</h3>
      </div>
      <div class="card-img-back">
          <img src="/img/probprop.jpg" class="img-res-back">
      </div>
      <div class="card-back-text">
        <p class="res-backp">While crime clusters in both neighborhoods and streets, underlying these higher geographic scales are the properties where these crimes truly cluster. That's the basis for Boston's problem properties task force - addressing crime and the lowest scale at which crimes cluster. In this work, my colleagues and I examine the types and trajectories of problem properties in Boston. Using 911 and 311 records, we identified five distinct types of problematic parcels, with most specializing in a specific form of crime or disorder.In a subsequent study, we explored the life-course of these problematic properties, focusing on the onset, persistence, aggravation, and desistance of issues. I am now exploring the role ownership and landlords play in concentrations of crime and disorder. </p>

      </div>
      <div class="card-back-publications">

        <p class="res-backp">Work Published in:</p>
        <p class="res-backp"><a href="https://doi.org/10.1186/s40163-022-00165-0" class="res-backp-link">Crime Science</a></p>
        <p class="res-backp"><a href="https://doi.org/10.1186/s40163-022-00165-0" class="res-backp-link">Journal of Quantitative Criminology</a></p>
      </div>
    </div>
  </div>
</div>

<div class="scenec--5 scenec--card">
  <div class="card_null">
    <div class="card__face card__face--nomove"></div>
  </div>
</div>
<div class="scenec--r scenec--card">
  <div class="card_null">
    <div class="card__face card__face--invis"></div>
  </div>
</div>


<div class="scenec--5 scenec--card">
  <div class="card_null">
    <div class="card__face card__face--nomove"></div>
  </div>
</div>

<a href="#">
<div class="scroll-up">
</div>
</a>
<br><br><br><br><br><br>
<p>Designed by Forrest Hangen</p>
<br>
</body>
