<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FH | Research</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="icon" href="/icons/icon.svg">
  <script defer language="javascript" type="text/javascript"  src="{{ "/js/card.js" | urlize | relURL }}"></script>
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
</head>

<header class="header-main" id="top">
  <nav><a href=/ class='header-nav hoverhead'>Home</a>
    <a href=/pdfs/HangenCVNov2022.pdf class='header-nav hoverhead'>CV</a>
    <a href=/research class='header-nav hoverhead'>Research</a>
    <a href=/publications class='header-nav hoverhead'>Publications</a>
    <a href=/teaching class='header-nav hoverhead'>Teaching</a>
    <a href="https://github.com/forrest-h/" class='header-nav hoverhead'>Code</a>
    <a href="https://linktr.ee/forresthangen" class='header-nav hoverhead'>Contact</a>



  </nav>
  <div class="nav-right">

  </div>
</header>

<body class="main-bg section-pages">
  <br><br><br>
  <div id="top2">
    <h3>Research</h3>
  </div>
  <p class="res-click">Click on a topic to learn more.</p>
<br><br>


<div class="scenec--lin1 scenec--card">
  <div class="card_null">
    <div class="card__face card__face--nomove"></div>
  </div>
</div>
<div class="scenec--lin2 scenec--card">
  <div class="card_null">
    <div class="card__face card__face--nomove"></div>
  </div>
</div>
<div class="scenec--lin3 scenec--card">
  <div class="card_null">
    <div class="card__face card__face--nomove"></div>
  </div>
</div>

<div class="scenec--lin4 scenec--card">
  <div class="card_null">
    <div class="card__face card__face--nomove"></div>
  </div>
</div>

<div class="scenec--rin1 scenec--card">
  <div class="card_null">
    <div class="card__face card__face--nomove"></div>
  </div>
</div>
<div class="scenec--rin2 scenec--card">
  <div class="card_null">
    <div class="card__face card__face--nomove"></div>
  </div>
</div>
<div class="scenec--rin3 scenec--card">
  <div class="card_null">
    <div class="card__face card__face--nomove"></div>
  </div>
</div>

<div class="scenec--rin4 scenec--card">
  <div class="card_null">
    <div class="card__face card__face--nomove"></div>
  </div>
</div>

<div class="scenec--1l scenec--card">
  <div class="card">
    <div class="card__face card__face--front">
      <h3 class="h3-research">Landlord Strategies of Social and Physical Property Management</h3>
      <img src="/img/singlebuilding.jpg" alt="" class="hero-img-research-front">
    </div>
    <div class="card__face card__face--back">
      <div class="card-res-back-th">
        <h3 class="res-backh-s">Landlord Strategies of Social and Physical Property Management</h3>
      </div>
      <div class="card-img-back">

          <img src="/img/singlebuilding.jpg" class="img-res-back">
      </div>
      <div class="card-back-text">
        <p class="res-backp">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

      </div>
      <div class="card-back-publications">

        <p class="res-backp">Work Published in:</p>
        <p class="res-backp"><a href="https://osf.io/preprints/socarxiv/anvke" class="res-backp-link">SocArXiv - Preprint</a>
        </p>

      </div>
    </div>
  </div>
</div>
<div class="scenec--r scenec--card">
  <div class="card_null">
    <div class="card__face card__face--invis"></div>
  </div>
</div>

<div class="scenec--1r scenec--card">
  <div class="card_null">
    <div class="card__face card__face--nomove"></div>
  </div>
</div>


<div class="scenec--2l scenec--card">
  <div class="card_null">
    <div class="card__face card__face--nomove"></div>
  </div>
</div>

<div class="scenec--r scenec--card">
  <div class="card_null">
    <div class="card__face card__face--invis"></div>
  </div>
</div>

<div class="scenec--2r scenec--card">
  <div class="card">
    <div class="card__face card__face--front">
      <h3 class="h3-research">Source of Income Discrimination</h3>
      <img src="/img/pinkbuild.jpg" alt="" class="hero-img-research-front">
    </div>
    <div class="card__face card__face--back">

          <div class="card-res-back-th">
            <h3 class="res-backh">Source of Income Discrimination</h3>
          </div>
          <div class="card-img-back">
              <img src="/img/pinkbuild.jpg" class="img-res-back">
          </div>
          <div class="card-back-text">
            <p class="res-backp">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

          </div>
          <div class="card-back-publications">

            <p class="res-backp">Work Published in:</p>
            <p class="res-backp"><a href="https://doi.org/10.1177/10780874221109591" class="res-backp-link">Urban Affairs Review</a>
            </p>

          </div>

    </div>
  </div>
</div>

<div class="scenec--3l scenec--card">
  <div class="card">
    <div class="card__face card__face--front">
      <h3 class="h3-research">Housing Affordability</h3>
      <img src="/img/houses.jpg" alt="" class="hero-img-research-front">
    </div>
    <div class="card__face card__face--back">
      <div class="card-res-back-th">
        <h3 class="res-backh">Housing Affordability</h3>
      </div>


      <div class="card-img-back">

          <img src="/img/houses.jpg" class="img-res-back">
      </div>
      <div class="card-back-text">
        <p class="res-backp">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

      </div>
      <div class="card-back-publications">

        <p class="res-backp">Work coming soon.</p>

      </div>
    </div>
  </div>
</div>
<div class="scenec--r scenec--card">
  <div class="card_null">
    <div class="card__face card__face--invis"></div>
  </div>
</div>

<div class="scenec--3r scenec--card">
  <div class="card_null">
    <div class="card__face card__face--nomove"></div>
  </div>
</div>

<div class="scenec--4l scenec--card">
  <div class="card_null">
    <div class="card__face card__face--nomove"></div>
  </div>
</div>
<div class="scenec--r scenec--card">
  <div class="card_null">
    <div class="card__face card__face--invis"></div>
  </div>
</div>


<div class="scenec--4r scenec--card">
  <div class="card">
    <div class="card__face card__face--front">
      <h3 class="h3-research">Problem Properties</h3>
      <img src="/img/probprop.jpg" alt="" class="hero-img-research-front">
    </div>
    <div class="card__face card__face--back">
      <div class="card-res-back-th">
        <h3 class="res-backh">Problem Properties</h3>
      </div>
      <div class="card-img-back">
          <img src="/img/probprop.jpg" class="img-res-back">
      </div>
      <div class="card-back-text">
        <p class="res-backp">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

      </div>
      <div class="card-back-publications">

        <p class="res-backp">Work Published in:</p>
        <p class="res-backp"><a href="https://doi.org/10.1186/s40163-022-00165-0" class="res-backp-link">Crime Science</a></p>
        <p class="res-backp"><a href="https://doi.org/10.1186/s40163-022-00165-0" class="res-backp-link">Journal of Quantitative Criminology</a></p>
      </div>
    </div>
  </div>
</div>

<div class="scenec--5 scenec--card">
  <div class="card_null">
    <div class="card__face card__face--nomove"></div>
  </div>
</div>
<div class="scenec--r scenec--card">
  <div class="card_null">
    <div class="card__face card__face--invis"></div>
  </div>
</div>


<div class="scenec--5 scenec--card">
  <div class="card_null">
    <div class="card__face card__face--nomove"></div>
  </div>
</div>

<a href="#">
<div class="scroll-up">
</div>
</a>
<br><br><br><br><br><br>
<p>Designed by Forrest Hangen</p>
<br>
</body>
